* {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

#intro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

#boxes {
 display: flex;
 flex-wrap: wrap;
 width: 90%;
 margin: auto;
 min-width: 400px;
 max-width:700px;
 justify-content: space-around;
}

#boxes .side1 {
  color: rgb(226, 226, 226);
}

.box {
  flex-basis: 12.5%;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.black {
  background: #c5a67d;
}

.white {
  background: rgb(85, 64, 37);
}

#boxes .possible {
  background: rgba(0, 128, 0, 0.801);
}
