* {
  background: rgb(80, 80, 58);
  margin: 0;
  padding: 0;
}

#intro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

#boxes {
 display: flex;
 flex-wrap: wrap;
 width: 90%;
 margin: auto;
 min-width: 400px;
 max-width:700px;
 justify-content: space-around;
}

.box {
  flex-basis: 12.4%;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background: black;
}

.white {
  background: rgb(119, 101, 44);
}
